<div *ngIf="orders">
	<div class="alert alert-info" [hidden]="orders.length != 0">
		No orders to show!
	</div>
	<div class="ordersHistory" [hidden]="orders.length == 0">
		<div class="row">
			<div class="col-sm-3 mobile">
				<label>Creditor:</label>
			</div>
			<div class="col-sm-3 mobile">
				<label>Amount:</label>
			</div>
			<div class="col-sm-3 mobile">
				<label>Date:</label>
			</div>
			<div class="col-sm-3 mobile">
				<label>Description:</label>
			</div>
		</div>
		<div *ngFor="let order of orders" class="row pointer" data-toggle="modal" data-target="#orderModal"(click)='setSelectedOrder(order)'>
			<div class="col-sm-3">
				<label>Creditor:</label>
				{{order.creditor.name}}
			</div>
			<div class="col-sm-3">
				<label>Amount:</label>
				{{order.amount}}
			</div>
			<div class="col-sm-3">
				<label>Date:</label>
				{{order.date | date: 'HH:mm dd-MM-yyyy'}}
			</div>
			<div class="col-sm-3">
				<label>Description:</label>
				{{order.description}}
			</div>
			<hr />
		</div>
	</div>

  <div class="text-center">
		<ul *ngIf="totalPages" class="pagination">
	    <li *ngFor="let p of totalPages" [ngClass]="{'active': page == p}"><a class="pointer" (click)="setPage(p)">{{p}}</a></li>
	  </ul>
	</div>
</div>

<div *ngIf="selectedOrder">
  <div id="orderModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Order details: {{selectedOrder.id}}</h4>
        </div>
        <div class="modal-body">
					<label>
						Creditor's name: {{selectedOrder.creditor.name}}
					</label> <br />
					<label>
						Creditor's address: {{selectedOrder.creditor.address}}
					</label><br />
					<label>
						Creditor's transaction number: {{selectedOrder.creditor.transactionNumber}}
					</label><br />
					<label>
						Creditor's bank: {{selectedOrder.creditor.imeNaBanka}}
					</label><br />
					<label>
						Amount: {{selectedOrder.amount}}
					</label><br />
					<label>
						Date: {{selectedOrder.date | date: 'HH:mm dd-MM-yyyy'}}
					</label><br />
					<label>
						Type: {{selectedOrder.type}}
					</label><br />
					<label>
						Description: {{selectedOrder.description}}
					</label><br />
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
