<div class="row" style="margin-top:50px">
	<div class="col-sm-3">

	</div>
	<div class="col-sm-6 boxed">
		<div *ngIf="currencies">

		  <div class="row">
		    <h4>From</h4>
		    <div class="form-group">

		      <div class="col-sm-6">
		        <input type="number" (keyup)="convert()" [(ngModel)]="value" name="value" class="form-control input-sm" />
		      </div>

		      <div class="col-xs-5">
		        <select [(ngModel)]="from" (change)="convert()" name="from" class="form-control input-sm">
		          <option *ngFor="let currency of currencies">{{currency}}</option>
		        </select>
		      </div>

		    </div>
		  </div>
		  <div class="row">
		    <h4>To</h4>
		    <div class="from-group">
		      <div class="col-sm-6">
		        <input type="number" [(ngModel)]="converted" name="converted" class="form-control input-sm" />
		      </div>
		      <div class="col-xs-5">
		        <select [(ngModel)]="to" name="to" (change)="convert()" class="form-control input-sm">
		          <option *ngFor="let currency of currencies">{{currency}}</option>
		        </select>
		      </div>
		    </div>
		  </div>
		  <br />
		  <button type="button" (click)="swapCurrencies()" class="btn btn-success">Swap</button>

		</div>

	</div>
</div>
