
.allUsers label {
	display:none;
}

.mobile label {
	display:inline-block;
}

.row {
	padding: 10px 10px;
}

.row:not(:first-child):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

hr {
	margin:0;
	padding:0;
}

@media screen and (max-width: 768px) {

	.mobile {
		display:none!important;
	}

	.allUsers label {
		display:inline-block;
	}

}

@media screen and (min-width:768px) and (max-width: 992px) {

	.hideontablet {
		overflow-x: auto;

	}

}
