/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;
}

.pointer {
	cursor: pointer;
}

.boxed {
	padding: 20px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width:768px) and (max-width:992px) {
	.fa {
		display:none;
	}

	.glyphicon {
		display:none;
	}
}
